.postdetail {
  padding: 0 20vw 50px 20vw;
  font-size: 16px;
}

@media (max-width: 1310px) {
  .postdetail {
    padding: 0 3vw 50px 3vw;
  }
}

hr {
  border-top: $gray1;
}

.postdetail-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button {
    background-color: $green;
    color: $white;
    border: none;
    padding: 10px 13px;
  }
}

.details-container {
  display: flex;
  gap: 20px;
  padding: 20px 0;

  .details-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .details-title {
    font-size: 24px;
    font-weight: 600;

    .time {
      color: $gray5;
      font-size: 14px;
    }
  }

  .writer-info {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .tag {
      color: $gray5;
    }
  }
}

.plus-detail {
  padding-top: 20px;
}
