.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .auth-title br {
    display: none;
  }
}

.success,
.error {
  width: 340px;
  font-size: 14px;
}

.success {
  color: $green;
}

.error {
  color: $red;
}

input,
textarea,
button,
select {
  border-radius: $border-radius;
  border: $border-gray;
  &:focus {
    outline: none;
    border: $border-green;
  }
}

.form-group {
  input {
    width: 250px;
  }
  button {
    margin: 5px 0 0 5px;
    padding: 10px 10px;
    background-color: $white;
    color: $black;
    border: 1px solid $green;
  }
}

button.auth-button {
  font-size: 16px;
  width: 100%;
  padding: 13px 10px;
  margin: 10px 0;
  background-color: $green;
  color: $white;
  border: $border-green;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 13px 10px;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: none;
}

select {
  margin-left: 15px;
  width: 90px;
  height: 40px;
  padding-left: 5px;
}

.login-more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  a {
    margin: 5px 0;
    text-decoration: none;
    color: $gray6;
  }
}
