.img-sprout {
  padding-right: 10px;
  vertical-align: middle;
  width: 30px;
}

.logo {
  cursor: pointer;
}

.navigation::-webkit-scrollbar {
  width: 3px;
}

.navigation::-webkit-scrollbar-thumb {
  height: 50%;
  background-color: #dddddd;
}
