.pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  justify-content: center;
  padding-top: 10px;

  li a {
    padding: 10px 15px;
  }

  .active a {
    color: $green;
    border: 1px solid $green;
  }
}
