.post-container {
  padding: 0px 20vw;
}

@media (max-width: 1310px) {
  .post-container {
    padding: 0px 3vw;
  }
}

.post-list-container {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  box-sizing: border-box;
}

.post-image {
  background-color: $gray1;
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post-state {
  color: $green;
  font-weight: 700;
  font-size: 14px;
}

.post-title {
  font-weight: 700;
}

.post-region-time {
  font-size: 14px;
  color: $gray4;
  font-weight: 500;
}
