.profile_img {
  font-size: 14px;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile,
.item-image {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 55px;
  }
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
