// Color
$green: #00910b;
$dark-green: #3f4a3c;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$gray1: #f1f3f5;
$gray2: #d9d9d9;
$gray3: #dddddd;
$gray4: #a3a3a3;
$gray5: #808080;
$gray6: #696969;

// Font Size
// Button padding

// Border
$border-radius: 5px;
$border-green: 1px solid $green;
$border-gray: 1px solid $gray2;

// Form
