.chatpage {
  display: flex;
  height: 100vh;
}

.chatlist {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 370px;
  // overflow-y: auto;
}

.chatroom {
  flex: 1;
  height: 100vh;
}
