.chatpage {
  display: flex;
  height: 100vh;
}

.chatlist {
  display: flex;
  flex-direction: column;
  width: 370px;

  .chatlist-content {
    overflow-y: auto;
  }
}

.chatroom {
  flex: 1;
  height: 100vh;
}
