.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.notfound-content {
  padding: 50px 10px;
  text-align: center;
  font-size: 30px;
  overflow-wrap: break-word;
}

.back-button {
  background-color: $green;
  border-color: $green;
  color: $white;
  padding: 15px 20px;
  border-radius: 3px;
  font-size: 16px;
}
