$maincolor: #00910b;

.header {
  position: fixed;
  top: 0;
  left: 260px;
  height: 80px;
  width: calc(100% - 260px - 10vw);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
  background-color: white;
}

.pagetitle {
  font-size: 28px;
  font-weight: 600;
  color: $maincolor;
}

.btn-icon {
  display: flex;
  justify-content: center;
  li,
  a {
    color: black;
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 15px;
    transition: 0.2s;
    &:hover,
    a:hover {
      color: $maincolor;
    }
  }
}
