body,
h1,
h2,
h3,
li,
ul,
button,
hr,
p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 360px;
}

input,
textarea,
li,
div {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

li {
  list-style: none;
}

img {
  border: 0;
}
