body,
input,
button,
select,
textarea {
  font-family: "Pretendard";
}

.green {
  color: $green;
}

.gray1 {
  color: $gray6;
}

h1.logo {
  font-size: 40px;
  font-weight: 700;
}

h2.auth-title {
  font-size: 18px;
  font-weight: 600;
}
